@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --border-radius: .5rem
}

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    color: #fff;
}

body {
    display: flex;
    align-items: center;
}

main {
    width: 75%;
    height: 55%;
    margin: auto;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    margin: auto;
}

.item {
    width: 33.9%;
    height: 100%;
    padding-inline: 4rem;
    padding-top: 2rem;

}

.item>h1 {
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 1rem;
    font-size: 2.5em;
}

.text-container {
    margin-top: 1rem;

}

.item>.text-container>p {
    margin-bottom: .5rem;
    font-family: 'Lexend Deca', sans-serif;

    font-size: .8em;
    color: hsla(0, 0%, 100%, 0.75);
}

.item>img {
    width: 3rem;
}

.item>button {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    border: none;
    border: 0.15rem #fff solid;
    border-radius: 2rem;
    text-transform: capitalize;
    width: 8rem;
    height: 3rem;
    font-family: 'Lexend Deca', sans-serif;

    margin-top: 3.5rem;


}

.first {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    background-color: #E28525;
}

.second {
    background-color: #016972;

}

.third {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: #00403F;
}

/* Responsiveness */
@media (min-height:559px) and (max-height:659px) {

    .container {
        height: 107%;
    }

    .item>h1 {
        font-size: 2em;
    }

    .item>button {
        margin-top: 2rem;
    }
}

@media (min-width: 887px) and (max-width: 1229px) {
    .item {
        padding-inline: 1.3rem;
    }
}

@media (width: 912px) {
    main {
        height: 34%;
    }
}

@media (min-width: 664px) and (max-width: 886px) {
    .item>h1 {
        font-size: 1em;
    }

    .item {
        padding: 1rem;
    }

    .container {
        height: 92%;

    }

    main {
        width: 75%;
        height: 31%;
    }

    .item>button {
        font-size: .5rem;
        width: 7rem;
        height: 2rem;
        border-width: .1rem;
    }



    .text-container {
        margin-top: 0.5rem;
        font-size: .6rem;
    }
}

@media (min-width: 539px) and (max-width: 663px) {
    .item>h1 {
        font-size: 1em;
    }

    .item {
        padding: 0.5rem;
    }

    .container {
        height: 92%;

    }

    .item>p {
        margin-bottom: 0.2rem;
        font-size: .6em;
    }

    .item>img {
        margin-top: 1rem;
    }

    main {
        width: 75%;
        height: 38%;
    }

    .item>button {
        font-size: .5rem;
        width: 5rem;
        height: 2rem;
        border-width: .1rem;
        margin-top: 0.5rem;
    }



    .text-container {
        margin-top: 0.5rem;
        font-size: .6rem;
    }
}

@media (min-width: 0px) and (max-width: 415px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: 104.9%;
        height: 33.6%;
        padding-inline: 4rem;
        padding-top: 1rem;
    }

    .item>h1 {
        font-size: 1.5em;
    }

    .item>.text-container {
        font-size: .7em;
    }

    .item>button {
        width: 5rem;
        height: 2rem;
        font-size: .5em;
        margin-top: 0.5rem;
    }

    main {
        width: 75%;
        height: 97%;
    }

    .first {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: 0px;
        border-top-right-radius: var(--border-radius);
    }

    .third {

        border-top-right-radius: 0px;
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);

    }


}

@media (max-width: 415px) and (min-height: 600px) and (max-height: 741px) {
    .item>img {
        width: 2rem;
    }

    .item {
        padding-inline: 2rem;

    }

    .item>h1 {
        font-size: 1.2em;
        margin-top: 0.4rem;
    }

    .item>.text-container>p {
        font-size: .7em;
    }

    .item>button {
        height: 1.4rem;
        border: 0.03rem #fff solid
    }



    main {

        width: 62%;

    }
}